@using FE.GemsConsult.Todo.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                   <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 pb-1">We are Team Kodex</h4>
                  <h6 class="mt-1 pb-1">Create your account</h6>
                </div>
                <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                  <div class="form-outline mb-2">
                    <input type="text" class="form-control" asp-for=Name
                      placeholder="Enter your full name" required/>
                  </div>
                  <div class="form-outline mb-2">
                    <input type="email" class="form-control" asp-for=Email
                      placeholder="Enter your email address" required/>
                  </div>
                  <div class="form-outline mb-2">
                    <input type="text" class="form-control" asp-for=PhoneNumber
                        placeholder="Enter your phone number" required/>
                  </div>
                  <div class="form-outline mb-2">
                    <input type="password" class="form-control" asp-for=Password
                        placeholder="Enter Password" required/>
                  </div>
                  <div class="form-outline mt-2 mb-2">
                    <input type="password" class="form-control" asp-for=ConfirmPassword
                    placeholder="Confirm Password" required />
                  </div>
                  <div class="text-center mt-2">
                    <button class="btn btn-primary btn-block gradient-custom-2 mb-3" type="submit">Sing up</button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Already have an account?</p>
                     <a class="btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="Login">Sign in now</a>
                  </div>
                </form>
              </div>
            </div>
             <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">
                    Millions of people accross the globe uses our TODO app for orgainizing their day-to-day activities.
                </p>
                <hr />
                <p class="small mb-0">You are in the right community of great minds of proper and standard activity arrangment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>